<h1>My tasks</h1>

<% @tasks.each do |task| %>
<h3> <%= link_to task.title, task_path(task) %> - <%= task.completed %> </h3>
<input checked=false type="checkbox" name="" value="0" />
<%= link_to 'Delete ', task_path(task), method: :delete %>
<% end %>

<p> <%= link_to 'Add a new task', new_task_path %> </p>
